services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - TZ=Asia/Tokyo
      - LANG=en_US.UTF-8
      - LC_ALL=C.UTF-8
      - PYTHONUNBUFFERED=1
    working_dir: /workspace
    volumes:
      - ..:/workspace
    ports:
      - "8000:8000"
    tty: true
    deploy:
      resources:
        limits:
          memory: 16G
        reservations:
          memory: 8G

# volumes:
#   paddleocr-models:
